<!DOCTYPE html>
<html lang="en">
  {{ template "head.gotmpl" . }}
  <body>
    <div class="regular">
      <h1>Sets</h1>

      <ul>
        {{ range .Sets }}
          <li>
            <a href="/sets/{{.ID}}">{{.Title}}</a>
          </li>
        {{ end }}

        <li class="footer">
          <p><a href="http://hawx.me/code/ihkh">ihkh</a> based on <a href="http://ihardlyknowher.com">ihardlyknowher</a></p>
        </li>
      </ul>
    </div>
  </body>
</html>
